
    <section id="recent-works">
  
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Who We Are</h2>
                <p class="lead">Smyrna vinings airport cabs is a family owned executive transportation company focused solely on providing comfortable and <br>affordable service within the greater Atlanta area and its suburbs</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                       <img class="img-responsive" src= <%=  asset_path "portfolio/recent/item1.png"%> alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href= <%= asset_path "portfolio/full/item1.png" %> rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                     
                      <%= image_tag("portfolio/recent/airport-taxi.jpg", :alt => "") %>
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Proudly Serving</a></h3>
                                <p>Atlanta area and suburbs including Smyrna, Vinings, Marietta, Mableton, Kennessaw, Acworth, Alpharetta, Woodstock, Canton and Roswell.</p>
                                <a class="preview" href=<%=  asset_path "portfolio/full/airport-taxi.jpg" %> rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                      <%= image_tag("portfolio/recent/itempeople2.jpg", :alt => "") %>
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Airport Service</a></h3>
                                <p>Atlanta airport car service provides various packages in the city and surrounding suburbs, and the whole state of Georgia</p>
                                <a class="preview" href=<%=  asset_path "portfolio/full/itempeople2.jpg" %> rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                      <%= image_tag("portfolio/recent/item4.png", :alt => "") %>
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Online Reservation</a></h3>
                                <p>Book a trip, pay for the trip and get a receipt and confirmation without picking up a phone to call</p>
                                <a class="preview" href=<%=  asset_path "portfolio/full/item4.png" %> rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                      <%= image_tag("portfolio/recent/itempeople3.jpg", :alt => "", :class => "img-responsive") %>
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Building Sucess</a></h3>
                                <p>We have over 12 years in the transportation business, which is why our car service is ranked highly and chosen by many fortune business travellers</p>
                                <a class="preview" href=<%=  asset_path "portfolio/full/itempeople3.jpg" %> rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">

                      <%= image_tag("portfolio/recent/item6.png", :alt => "", :class => "img-responsive") %>
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Affordable Luxury</a></h3>
                                <p>With a fleet of nine SUVs and eleven Lincoln town cars, we strive for 100% customer satisfaction every trip, to help you reach your destination in comfort</p>
                                <a class="preview" href=<%=  asset_path "portfolio/full/item6.png" %> rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                      <%= image_tag("portfolio/recent/itempeople1.jpg", :alt => "", :class => "img-responsive") %>
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Special Offers</a></h3>
                                <p>In celebration of this milestone, we are offering various discount
                                    to your trip</p>
                                <a class="preview" href=<%=  asset_path "portfolio/full/itempeople1.jpg" %> rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                      <%= image_tag("portfolio/recent/itempeople5.jpg", :alt => "", :class => "img-responsive") %>
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Personal Service</a></h3>
                                <p>Have a good day to clients goes a long way</p>
                                <a class="preview" href=<%=  asset_path "portfolio/full/itempeople5.jpg" %> rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->

