<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Corlate</title>
<style>
</style>

</head><!--/head-->

<body class="homepage">

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

              <div class="item active" style="background-image: url(<%=  asset_path "slider/bg1.jpg"%>)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-5">
                              <%=   render "quick_reservation" %>
                            </div>
                            <div class="col-sm-7">
                              <%= render 'text_slide'%>
                            </div>                                 
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(<%=  asset_path "slider/bg_city.jpg" %>)">
                    <div class="container">
                        <div class="row slide-margin">

                            <div class="col-sm-4">
                              <%=   render "quick_reservation" %>
                            </div>
                            <div class="col-sm-8">
                              <%= render 'text_slide'%>
                            </div>                                 

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(<%=  asset_path "slider/bg_6.jpg" %>)">
                    <div class="container">
                      <div class="row slide-margin">
                            <div class="col-sm-4">
                              <%=   render "quick_reservation" %>
                            </div>
                            <div class="col-sm-8">
                              <%= render 'text_slide'%>
                            </div>                                 
                      </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->
    
    <%= render :partial => "layouts/ga" %>
    <!-- features section here-->
    <%=   render "features" %>

    <!-- recent works section here-->
    <%=   render "works" %>


    <!-- testimonials section here-->

    <!-- services section here-->

    <!-- middle skills section here-->
    <!-- partners section here -->

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>Have a question or need a custom quote?</h2>
                            <p>If you prefer to speak with someone or have additional questions, email us at <span style="color:#c52d2f;"><u>info@smyrnaviningsairportcabs.com</u></span> or call our 24/7 Support line at <span style="color:#c52d2f;"><u>(770) 572 6900</u></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->    
    </section><!--/#conatcat-info-->

</body>
</html>
