<section id="contact-info-invoice" style="padding-top: 70px;">
<div class="center">                
  <h2>Checkout</h2>
  <p class="lead">Smyrna Vinings Airport cabs team is always available 24hrs a day, 7 days a week</p>
</div>
<div class="gmap-area" style= "background-image: url(<%=  asset_path "map.jpg" %> );" >
  <div class="container">
    <div class="row contact-wrap">
      <div class ="contact-form">

        <div class="col-sm-9 map-content">

          <div class="row invoice-head">
            <div class="col-sm-10">
                Services
            </div>
            <div class="col-sm-2 price">
              <label> Price</label>
            </div>
          </div>


          <% @reservation.special_requests.each do |d| %>
            <% if d.price > 0 %>
              <div class="row invoice-item">
                <div class="col-sm-10" >
                  <label><%= d.get_desc %></label>
                </div>

                <div class="col-sm-2 price">
                  <label>$<%= number_with_precision(d.price, :precision => 2) %></label>
                </div>
              </div>
            <% end %>
          <% end %>

          <div>
          </div>
          <div class="row">
            <div class="col-sm-10">
              <label style="float:right;" >Total</label>
            </div>
            <div class="col-sm-2 price">
              <label>$<%= @tot.to_s %></label>
            </div>
          </div>

        </div>
      </div>


      <div class="col-sm-3 text-center">
        <input class="btn btn-primary btn-lg" id="pay_pal" name="commit" onclick="location.href='<%= "#{@reservation.paypal_url(reservations_show_path(@reservation.id))}" %>';"   type="submit" value="Pay with PayPal">
      </div>

      <div class="col-sm-3 text-center">
        <img src=<%= asset_path "paypal_small.png"%> id="pay_pay_small" >
      </div>
    </div>

    <p class='conditions'>‡ Credit card information is never stored with us but with payment company that handles communication with the payment business<p>
  </div>
</div>
</div>
</section>
