<section id="contact-info-price">
<link href="http://gitcdn.github.io/ajax/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="http://gitcdn.github.io/ajax/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<div class="center">
</div>     
<div class="gmap-area" style= "background-image: url(<%=  asset_path "slider/bg3.jpg" %>);" >
  <div class="container">
    <div class="row contact-wrap"> 

      <%= form_for @reservation, :url => reservations_path(@reservation, :anchor => 'special_request'), :html => {:id => 'main-contact-form' , :class => 'contact-form' , :name => 'reservation-form' , :method => 'post' } do |f| %>
        <div class="col-sm-5 col-sm-offset-1">


          <div class ="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :Vehicle %>
                <%= f.select 'vechile', options_for_select([['Sedan',1],['SUV',2],['Van',3],['Limosine',4],['Streched Limosine',5]],2),{}, {:class =>'form-control'}  %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :Passengers%>
                <%= f.select 'passengers', options_for_select([['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9+',9]],1),{}, {:class =>'form-control'}  %>
              </div>
            </div>
          </div> <!--row-->


          <div class ="row">
            <div class="col-sm-9">
              <div class="form-group">
                <%= f.label ("Meet and Greet at Baggage Claim - $15")%>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="onoffswitch">
                <%= f.check_box :meet_greet , {:class =>'onoffswitch-checkbox'} , :name=>'onoffswitch' , :id =>'myonoffswitch', :checked=>'checked' %>
                <%= f.label ("yes") , { :class=>'onoffswitch-label'} , :for=>'reservation_meet_greet' do %>
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                <%end%>
              </div>
            </div>
          </div> <!--row-->

          <div class ="row">
            <div class="col-sm-9">
              <div class="form-group">
                <%= f.label ("Overnight Surcharge - $10")%>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="onoffswitch">
                <%= f.check_box ('over_night_surcharge'), {:class =>'onoffswitch-checkbox'} , :name=>'onoffswitch' , :id =>'myonoffswitch', :checked=>'checked' %>
                <%= f.label ("yes") , { :class=>'onoffswitch-label'} , :for=>'reservation_over_night_surcharge' do %>
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                <%end%>
              </div>
            </div>

          </div> <!--row-->

          <div class ="row">
            <div class="col-sm-9">
              <div class="form-group">
                <%= f.label ("Child Seat - $10")%>
              </div>

            </div>
            <div class="col-sm-3">
              <div class="onoffswitch">
                <%= f.check_box :child_seat, {:class =>'onoffswitch-checkbox'} , :name=>'onoffswitch' , :id =>'myonoffswitch', :checked=>'checked' %>
                <%= f.label ("yes") , { :class=>'onoffswitch-label'} , :for=>'reservation_child_seat' do %>
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                <%end%>
              </div>
            </div>
          </div> <!--row-->

          <div class ="row">
            <div class="col-sm-9">
              <div class="form-group">
                <%= f.label ("Pets - $10")%>
              </div>

            </div>
            <div class="col-sm-3">
              <div class="onoffswitch">
                <%= f.check_box :pet, {:class =>'onoffswitch-checkbox'} , :name=>'onoffswitch' , :id =>'myonoffswitch', :checked=>'checked' %>
                <%= f.label ("yes") , { :class=>'onoffswitch-label'} , :for=>'reservation_pet' do %>
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                <%end%>
              </div>

            </div>
          </div> <!--row-->

          <div class="form-group">
            <%= f.label ("Type of Service") %>
            <%= f.select 'passengers', options_for_select([['Point-to-Point',1],['Round Trip',2],['Hourly',3]],1),{}, {:class =>'form-control', :id=>'reservation_passengers'} %>
          </div>

          <div class ="row">

            <div class="col-sm-6">
              <div class="form-group" id="onewayfrom2">
                <%= f.label 'Return Date'  %>
                <%= f.date_field :pickup_date , :value => Date.today , :class=>"form-control", :required=>"required" %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group" id="onewayfrom3">
                <%= f.label 'Return Time'  %>
                <%= f.select :time , options_for_select(   [['12:00',1], ['12:30', 30],['1:00', 60],['1:30', 90],['2:00', 120],['2:30', 150],['3:00', 180],['3:30', 210],['4:00', 240],['4:30', 270],['5:00',300],['5:30',330],['6:00',360],['6:30',390],['7:00',420],['7:30',450],['8:00',480],['8:30',510],['9:00',540],['9:30',570],['10:00',600],['10:30',630],['11:00',660],['11:30',690]] ,630),{}, {:class =>'form-control'}  %>

              </div>
            </div>

            <div class="col-sm-3" id="onewayfrom4">
              <div class = "form-group">
                <%= f.label 'hr'  %>
                <%= select_tag 'hour', options_for_select([['AM',1],['PM',2]],1),{:class => 'form-control'} %>
              </div>
            </div>

          </div> <!--row-->

          <div class = "form-group">
            <%=f.hidden_field :distance2, :id=>"distance_hid",:value=> 0 %>
            <%=f.hidden_field :r_did, :id=>"r_did",:value=> 0 %>
            <%= f.submit 'Checkout' , :id => 'calcRoute' , :class => 'btn btn-primary btn-lg', :onclick =>"#",  :required => 'required' %>
          </div>

        </div> <!-- col-5 -->
      <%end%>
      <div class="col-sm-5">
        <div class="gmap-big">
          <div id="map_canvas">
          </div>
        </div>
        <label id = "distance1" style="float:right;margin-top:10px;margin-right:10px;color:white;"</label>

      </div>
    </div>

  </div> <!--row -->
</div> <!--container --> 
</div> <!--gmap-area --> 

</section>

