<section id="contact-page">

  <div class="center">                
    <h2>Make a Reservation</h2>
    <p class="lead">At Smyrna Vinings Airport Cabs, we dedicated to getting you to your destination <br>safely and comfortably at a price you can afford</p>
  </div>
  
  <div class="row contact-wrap"> 
      <div class="col-sm-12 col-sm-offset-1">
        <%  if session[:errors] && session[:errors].count >0 %>
          <div id="error_explanation">
            <h2><%= pluralize(session[:errors].count, "error") %> prohibited this Booking:</h2>
            <ul>
              <% session[:errors].each_with_index do |msg| %>
                <% msg[0] = "From Address" if msg[0] == "from_add" %> 
                <% msg[0] = "To Address" if msg[0] == "to_add" %> 
                <li><%= "#{msg[0].capitalize} #{msg[1][0]}" %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% session[:errors] = nil %>
      </div>
  </div>
  <div class="row contact-wrap"> 

    <%= form_for @reservation, :url => reservations_path, :html => {:id => 'main-contact-form' , :class => 'contact-form' , :name => 'contact-form' , :method => 'post' } do |f| %>

      <div class="col-sm-5 col-sm-offset-1">
        <div class="form-group">
          <%= f.label 'Name *' %>
          <%= f.text_field :name, :class => 'form-control' , :required => 'required' %>
        </div>

        <div class="form-group">
          <%= f.label 'Email *'  %>
          <%= f.email_field 'email',  :class => 'form-control' , :required => 'required'  %>
        </div>

        <div class="form-group">
          <%= f.label 'Phone *' %>
          <%= f.telephone_field :phone, :pattern =>'^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$',  :class=> 'form-control' , :required => 'required' %>
        </div>

        <div class="form-group">
          <%= f.label 'Flight Number' %>
          <%= f.text_field :company_name, :class => 'form-control' %>
        </div>
      </div> <!--col 5 offset-->



      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label 'Pick-up Address *' %>
          <%= f.text_field :from_add, :id => 'from_address', :class =>'form-control', :required=>"required" %>
        </div>

        <div class="form-group">
          <%= f.label 'Drop-off Address *' %>
          <%= f.text_field :to_add, :id => 'to_address', :class =>'form-control', :required=>"required" %>
        </div>                        

        <div class ="row">

            <% 
              t = Time.now.in_time_zone("Eastern Time (US & Canada)") + (2*60*60)
              h = t.hour
              m = t.min
              c = h.modulo(12)*2
              c = c + ( m > 30 ? 2 : 1)   
              hr_value = c*30
              am_pm = (h>12 ? 2 : 1) 
              
            %>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label 'Pick-up Date *'  %>
              <%= f.date_field :pickup_date , :value => (t.to_date if @reservation.new_record?) , :class=>"form-control", :required=>"required" %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <%= f.label 'Time *'  %>

              <%= f.select :time , options_for_select([['12:00',1], ['12:15',15],['12:30', 30],['12:45',45],['1:00', 60],['1:15',75],['1:30', 90],['1:45',105],['2:00', 120],['2:15',135],['2:30', 150],['2:45',165],['3:00', 180],['3:15',195],['3:30', 210],['3:45',225],['4:00', 240],['4:15',255],['4:30', 270],['4:45',285],['5:00',300],['5:15',315],['5:30',330],['5:45',345],['6:00',360],['6:15',675],['6:30',390],['6:45',405],['7:00',420],['7:15',435],['7:30',450],['7:45',465],['8:00',480],['8:15',495],['8:30',510],['8:45',525],['9:00',540],['9:15',555],['9:30',570],['9:45',585],['10:00',600],['10:15',615],['10:30',630],['10:45',645],['11:00',660],['11:15',675],['11:30',690],['11:45',705]] ,@reservation.new_record? ? hr_value : @reservation.time),{}, {:class =>'form-control'}%>
            </div>
          </div>

          <div class="col-sm-3">
            <div class = "form-group">
              <%= f.label 'Hr *'  %>
              <%= f.select :hour, options_for_select([['AM',1],['PM',2]],@reservation.new_record? ? am_pm : @reservation.hour),{},{:class => 'form-control'} %>
            </div>
          </div>
        </div>     <!--row-->

        <div class="form-group">
          <label> </label>
          <%= f.submit 'Get Fare' , :id => 'calcRoute' , :class => 'btn btn-primary btn-lg', :onclick =>"#",  :required => 'required' %>
        </div>
      </div> <!-- col 5 -->
    <%end%>
  </div> <!--row -->
</div> <!--container -->

</section> 

