<html>
<head>
<script type="text/javascript"> 
  $(function(){
$("#from_address").geocomplete()
$("#to_address").geocomplete()
});
</script>

<% if @anchor %>
  <script type="text/javascript">
    window.location.hash = "<%= @anchor %>";
    </script>
  <% end %>

<script type="text/javascript">
var directionDisplay;
  var map;
  function initialize() {
    directionsDisplay = new google.maps.DirectionsRenderer();
    var smynra = new google.maps.LatLng(33.7677129,-84.4206039);
    var myOptions = {
zoom:12,
     mapTypeId: google.maps.MapTypeId.ROADMAP,
     center: smynra
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    directionsDisplay.setMap(map);
/* set directions if address is given */
    
      var distanceInput1 = document.getElementById("distance1");
      var distanceInput2 = document.getElementById("distance_hid");
      var rid = document.getElementById("rid");
      var start = "<%= @reservation.from_add %>";
      var end = "<%= @reservation.to_add%>";
      rid.value = "<%= @reservation.rid %>";

      if(start)
      {
        var request = {
          origin:start,
          destination:end,
          travelMode: google.maps.DirectionsTravelMode.DRIVING
          };

          directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(response);
              var dis = (response.routes[0].legs[0].distance.value / 1609.344).toFixed(1);
              distanceInput1.textContent = "Distance "+ dis + " Miles" ;
              distanceInput2.value= dis; 

            }
          });

      }

  }

var directionsService = new google.maps.DirectionsService();
$(function () {
    $('#calcRoute').click(function () {
      var distanceInput1 = document.getElementById("distance1");
      var start = document.getElementById("from_add").value;
      var end = document.getElementById("to_add").value;
      var request = {
          origin:start,
          destination:end,
          travelMode: google.maps.DirectionsTravelMode.DRIVING
          };

directionsService.route(request, function(response, status) {
  if (status == google.maps.DirectionsStatus.OK) {
    directionsDisplay.setDirections(response);
    var dis = (response.routes[0].legs[0].distance.value / 1609.344).toFixed(1);
    distanceInput1.textContent = "Distance "+ dis + " Miles" ;
  }
  
  });
});

}); 


window.onload = function(){initialize();};

</script>

<style>


  #map_canvas {
    height: 500px;
    width:500px;
  }

hr { width:100%; height:1px; background: black }

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    /* border: 2px solid #999999;*/ border-radius: 4px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: greenyellow; color: #4E4E4E;
    font-weight: 300;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #EEEEEE; color: #4E4E4E ;
    text-align: right;
    font-weight: 300;
}
.onoffswitch-switch {
  display: block; width: 50%; 
  border-right: 1px solid #999999; 
  /* margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;i*/
    position: absolute; top: 0; bottom: 0; /*right: 56px;*/
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
}

</style>
    
</head>
<section>
<%= render "user_contact_info" %>

<% unless @reservation.new_record?  %>
<%= render "pricing" %>
<% end %>

<% if @reservation.special_requests.count >0 %>
<%= render "invoice" %>
<% end %>




</section>


</html>
