
<html>
<head>
  <title>Reservation Confirmation</title>
</head>
<body>

<p>Hi Sanusi Ndong, </p>

<p><b>New booking recieved.</b></p>

<p><b>Customer details</b></p>
Name:  <%= @reservation.name%><br>
Phone Number: <a herf ="tel: <%= @reservation.phone%>" > <%= @reservation.phone %> </a> <br>
Email :  <%= @reservation.email%><br>
<br>
Please <a href="../../reservations/<%=  @reservation.rid %>">click here</a> to review this booking in the site .
<p><strong>Booking Details</strong></p>
Pickup Date :  <%= @reservation.pickup_date.to_formatted_s(:rfc822) %><br>
Pickup Time :  <%=  @reservation.full_time %><br>
Pick-up Address :  <%= @reservation.from_add %><br>
Drop-off Address:  <%=  @reservation.to_add %><br>
Flight Number: <%= @reservation.company_name %> </p>

<table>
  <tr style="background-color: lightblue;" >
    <td><b>Service</b></td>
    <td><b>Price</b></td>
    </tr>
  <%  @reservation.special_requests.each do |d| %>
    <% if d.price > 0 %>
      <tr>
        <td style="border-bottom: 1px solid lightgray;" >
          <label><%= d.get_desc %></label>
        </td>
        <td style="border-bottom: 1px solid lightgray;" >
          <label>$<%= number_with_precision(d.price, :precision => 2) %></label>
        </td>
      </tr>
    <% end %>
  <% end %>

      <tr>
        <td >
          <label><b>Total</b></label>
        </td>
        <td>
          <label><b>$<%= number_with_precision(@reservation.get_total.to_s, :precision => 2) %></b></label>
        </td>
      </tr>
  
</table>
<hr />
<p>&nbsp;</p>

</body>
</html>
