<html>
<head>
  <!-testing!>

  <title>Registration Confirmation</title>
</head>
<body>
<p style="text-align: right;"><strong>Call <a href="tel:770.572.6900" target="_blank" value="+17705726900">770.572.6900</a>&nbsp;if any changes in your reservation</strong></p>

<hr />
<p>Hi <%= @reservation.name %></p>

<p>Thank you for choosing Smyrna Vinings Airport Cab. &nbsp;</p>

<p>It is our pleasure to confirm the following reservation. &nbsp;Feel free to contact us if any changes need to be made in this reservation by calling us at <span style="color:#0000FF;">770-572-6900</span></p>

<p>Reservation Date :  <%= @reservation.pickup_date %></p>

<p>Time :  <%= @reservation.pickup_time %></p>

<p>Pick-up Address :  <%= @reservation.from_add %></p>

<p>Drop-off Address:  <%=  @reservation.to_add %></p>
<table>
<% @reservation.special_requests.each do |d| %>
            <% if d.price > 0 %>
            
              <tr>
                <td >
                  <label><%= d.get_desc %></label>
                </td>
                <td>
                  <label>$<%= number_with_precision(d.price, :precision => 2) %></label>
                </td>
              </tr>
            <% end %>
<% end %>
</table>
<hr />
<p>&nbsp;</p>
<p>
  To review your Bookings Please <%= link_to "Click Here", "#{root_url}reservations/#{@reservation.rid}" %>
</p>
</body>
</html>
