<html>

<head>
  <title>Reservation Confirmation</title>
</head>
<body>
<p style="text-align: right;"><strong>Call <a href="tel:770.572.6900" target="_blank" value="+17705726900">770.572.6900</a>&nbsp;if any changes in your reservation</strong></p>

<p>Hi <%= @reservation.name.humanize %>,</p>
<p>Thank you for choosing Smyrna Vinings Airport Cabs. &nbsp;</p>

<p>It is our pleasure to confirm the following reservation. <br>Feel free to contact us if any changes need to be made in this reservation by calling us at <a href="tel:770.572.6900" target="_blank" value="+17705726900">770.572.6900</a></p>
<p><strong>Booking Details</strong></p>
Date :  <%= @reservation.pickup_date.to_formatted_s(:rfc822) %><br>
Time :  <%=  @reservation.full_time %><br>
Pick-up Address :  <%= @reservation.from_add %><br>
Drop-off Address:  <%=  @reservation.to_add %></p>

<table>
  <tr style="background-color: lightblue;" >
    <td><b>Service</b></td>
    <td><b>Price</b></td>
    </tr>
  <%  @reservation.special_requests.each do |d| %>
    <% if d.price > 0 %>

      <tr>
        <td style="border-bottom: 1px solid lightgray;" >
          <label><%= d.get_desc %></label>
        </td>
        <td style="border-bottom: 1px solid lightgray;" >
          <label>$<%= number_with_precision(d.price, :precision => 2) %></label>
        </td>
      </tr>
    <% end %>
  <% end %>

      <tr>
        <td >
          <label><b>Total(including all Taxes and Tips)</b></label>
        </td>
        <td>
          <label><b>$<%= number_with_precision(@reservation.get_total.to_s, :precision => 2) %></b></label>
        </td>
      </tr>
  
</table>
<hr />
<p>&nbsp;</p>

</body>
</html>
